.loading{
    width: 100vw;
    height: 100vh;
background-color: white;
display: grid;
place-items: center;
}

.loading>div{
 width: 10vmax;
 
 height: 10vmax;
 /* background: rgb(228, 224, 224); */
 border-bottom: 5px solid rgb(13, 25, 19);
border-radius: 50%;
animation: loadingRotate 500ms  infinite  linear; 

}

@keyframes loadingRotate {
    to{
        transform:  rotateZ(-360deg);
    }
}