.topSpacein_and_master_list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5vh auto;
}

#components-table-demo-drag-sorting tr.drop-over-downward td {
    border-bottom: 2px dashed #1890ff;
  }
  
  #components-table-demo-drag-sorting tr.drop-over-upward td {
    border-top: 2px dashed #1890ff;
  }


.allMajor_Product_editable_list{
  overflow: scroll;
  max-width: 100vw;
}


  /* @media screen and (max-width: 600px) {
 *{
  width: 100vw;
 }
      } */