.cartItemcard{
    display: flex;
    padding: 1vmax;
    height: 8vmax;
    align-items: flex-start;
    box-sizing: border-box;
}
.cartItemcard >img{
    width: 5vmax;
}
.cartItemcard >div{
    display: flex;
    margin: 0.3vmax 1vmax;
    flex-direction: column;
}
.cartItemcard >div >a{
    font :300 0.9vmax cursive;
    color:rgba(57, 53, 53, 0.658);

}
.cartItemcard >div >span{
    font :300 0.9vmax "Roboto";
    color:rgba(57, 53, 53, 0.658);
    
}
.cartItemcard >div >p{
    color:tomato;
    font:100 0.8vmax "Roboto";
    cursor: pointer;
}
.cartItemcard a {
    font:300 3vmax "Roboto";

}


@media screen and (max-width: 600px) {
    .cartItemcard >div >span ,.cartItemcard >div >a  {
        font :300 1.9vmax "Roboto";
        color:rgba(57, 53, 53, 0.658);
        
    }
    .cartItemcard >img{
        width: 10vmax;
    }

}